$font-stack: "OpenSans",  Arial, sans-serif;
$primary-color: #283645;
$primary-bg: #fff;
$menu-color: #283645;
$primary-f-size: 14px;
$primary-l-height: 24px;
$primary-f-width: normal;
$primary-f-style: normal;
