body {
	font-family: : $font-stack;
	color: $primary-color;
	background: $green;
	min-width: 320px;
	font-size: $primary-f-size;
	line-height: $primary-l-height;
	font-weight: $primary-f-width;
	font-style: $primary-f-style;
}
