body {
	font-family: $font-stack;
	color: $primary-color;
	background: $primary-bg;
	width: 320px;
	margin: 0 auto;
	font-size: $primary-f-size;
	line-height: $primary-l-height;
	font-weight: $primary-f-width;
	font-style: $primary-f-style;
}
