.form-block {
	margin-bottom: 46px;
	background: $primary-bg;

	@media ($tablet-widths) {
		margin-bottom: 65px;
	}

	@media ($desktop-widths) {
		width: 100%;
		margin-bottom: 66px;
	}

	&--gray {
		padding-bottom: 2px;
		background: #f2f2f2;

		@media ($tablet-widths) {
			margin-bottom: 63px;
			background: $primary-bg;
		}

		@media ($desktop-widths) {
			margin-bottom: 30px;
			background: $primary-bg;
		}
	}
}

@media only screen and (max-width : 659px) {
	.form .form-block:nth-child(1) {
		order: 1;
	}
	.form .form-block:nth-child(2) {
		margin-bottom: 22px;
		order: 4;
	}
	.form .form-block:nth-child(3) {
		order: 3;
		& .form-block__legend {
			display: none;
		}
	}
	.form .form-block:nth-child(4) {
		margin-bottom: 20px;
		order: 2;
	}
	.form .form-block:nth-child(5) {
		order: 5;
	}
	.form-block__contact-item {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}

.form-block:nth-child(1),
.form-block:nth-child(2) {
	@media ($desktop-widths) {
		width: 46%;
		margin-bottom: 17px;
		padding: 0;
		flex-basis: 46%;
	}
}

.form-block:nth-child(4) {
	@media ($desktop-widths) {
		margin-bottom: 64px;
	}
}

.form-block__wrapper {
	margin-bottom: 7px;

	@media ($tablet-widths) {
		display: flex;
		width: 100%;
		margin-bottom: 52px;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	@media ($desktop-widths) {
		margin: 0 auto;
		padding: 6px 0 47px;
	}
}

.form-block__wrapper:last-child {
	margin-bottom: 0px;
}

.form-block__wrapper-icon {
	position: relative;

	&::after {
		@media ($tablet-widths) {
			width: 61px;
			height: 59px;
			@include position-container(0, 0, auto, 1px);
			background: $gray-color url(../img/icon-phone.svg) no-repeat center;
			z-index: 20;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			cursor: pointer;
		}
	}

	&--email::after  {
		@media ($tablet-widths) {
			background: $gray-color url(../img/icon-mail.svg) no-repeat center;
		}
	}
}

.form-block__input-text {
	width: 100%;
	padding: 14px 60px 15px 21px;
	box-sizing: border-box;
	@include style-font(18px, 30px, 400);
	color: $primary-color;
	border: 2px solid $gray-color;
	border-radius: 5px;
	outline: none;

	&:hover {
		border: 2px solid $primary-color;
	}

	&:focus {
		border: 2px solid $additional-color;
	}

	@media ($tablet-widths) {
		width: 100%;
		display: inline-block;
		padding-left: 17px;
		vertical-align: top;
		flex-shrink: 1;

	}
}

.form-block__label-text {
	display: block;
	padding: 10px 0px 5px 23px;
	@include style-font(14px, 30px, 400);
	text-transform: uppercase;
	color: #d54166;

	@media ($tablet-widths) {
		display: inline-block;
		vertical-align: top;
		padding: 10px 20px 10px 0px;
	}
}

.form-block__label-text>span {
	@media ($tablet-widths) {
		display: none;
	}
}

.form-block__app {
	@media ($tablet-widths) {
		padding: 18px 58px 14px;
	}

	@media ($desktop-widths) {
		padding: 58px 70px 17px;
	}
}

.form-block__legend {
	padding: 36px 14px 0px;
	@include style-font(14px, 18px, 400);
	text-align: center;
	text-transform: uppercase;
	color: $additional-color;

	@media ($tablet-widths) {
		position: absolute;
		top: -16px;
		left: 50%;
		padding: 0 20px;
		white-space: nowrap;
		background: white;
		@include style-font(14px, 30px, 400);
		transform: translate(-50%, 0);
	}

	@media ($desktop-widths) {
		padding: 0 20px;
	}
}

.form-block__contact-items {
	@media ($tablet-widths) {
		display: flex;
		padding: 45px 60px 0px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@media ($desktop-widths) {
		display: flex;
		padding: 43px 60px 2px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.form-block__contact-item {
	width: 100%;
	padding-bottom: 6px;

	@media ($tablet-widths) {
		padding-bottom: 18px;
	}

	@media ($desktop-widths) {
		width: 375px;
		padding-bottom: 0px;
	}
}

.form-block__contact-item .form-block__label-text {
	@media ($tablet-widths) {
		padding: 10px 20px 10px 20px;
	}
}

.form-block__progress-items {
	padding: 42px 0px 0px;

	@media ($tablet-widths) {
		padding: 55px 60px 0px;
	}

	@media ($desktop-widths) {
		display: flex;
		padding: 57px 60px 6px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.form-block__progress-item {
	@media ($desktop-widths) {
		width: 32%;
	}
}

@media only screen and (min-width : 960px)  {

	.form-block__progress-item:nth-child(1) {
		order: 1;
	}

	.form-block__progress-item:nth-child(2) {
		order: 4;
	}

	.form-block__progress-item:nth-child(3) {
		order: 2;
	}

	.form-block__progress-item:nth-child(4) {
		order: 5;
	}

	.form-block__progress-item:nth-child(5) {
		order: 3;
	}

	.form-block__progress-item:nth-child(6) {
		order: 6;
	}
}

.form-block__input-checkbox {
	display: none;

	&+.form-block__label-checkbox:active::after {
		@include position-container(0, 0, 10px, auto);
		width: 22px;
		height: 16px;
		z-index: 10;
		background: url(../img/icon-yes.svg) no-repeat center;
	}

	&:checked+.form-block__label-checkbox::after {
		@include position-container(0, 0, 10px, auto);
		width: 22px;
		height: 16px;
		z-index: 10;
		background: url(../img/icon-yes.svg) no-repeat center;
	}

	&:checked+.form-block__label-checkbox:active::after {
		background: transparent;
	}
}

.form-block__label-checkbox {
	position: relative;
	display: block;
	margin-bottom: 52px;
	padding-left: 70px;
	@include style-font(18px, 30px, 400);
	color: $primary-color;
	cursor: pointer;

	@media ($tablet-widths) {
		padding-left: 57px;
	}

	&::before {
		@include position-container(0, 0, 0, auto);
		width: 35px;
		height: 35px;
		background: $primary-bg;
		border: 2px solid $gray-color;
		border-radius: 5px;
		z-index: 10;
	}

	&:hover::before {
		border: 2px solid $primary-color;
	}

	&:active::before {
		border: 2px solid $additional-color;
	}
}

.form-block__input-radio {
	display: none;

	&+.form-block__label-radio:active::after {
		@include position-container(0, 0, 12px, auto);
		width: 15px;
		height: 15px;
		z-index: 10;
		background: $additional-color;
		border-radius: 50%;
	}

	&:checked+.form-block__label-radio::after {
		@include position-container(0, 0, 12px, auto);
		width: 15px;
		height: 15px;
		z-index: 10;
		background: $additional-color;
		border-radius: 50%;
	}

	&:checked+.form-block__label-radio:active::after {
		background: transparent;
	}

}

.form-block__label-radio {
	position: relative;
	display: block;
	margin: 38px auto 45px;
	padding-left: 70px;
	@include style-font(18px, 30px, 400);
	color: $primary-color;
	cursor: pointer;

	@media ($tablet-widths)  {
		padding-left: 60px;
	}

	@media ($desktop-widths) {
		margin: 0 0 44px 0;
		padding-left: 61px;
	}

	&::before {
		@include position-container(0, 0, 0, auto);
		width: 35px;
		height: 35px;
		background: $primary-bg;
		border: 2px solid $gray-color;
		border-radius: 50%;
		z-index: 10;
	}

	&:hover::before {
		border: 2px solid $primary-color;
	}
}

.form-block__textarea-wrapper {
	padding-top: 19px;

	@media ($tablet-widths){
		padding: 46px 60px 49px;
	}

	@media ($desktop-widths){
		padding: 43px 60px 43px;
	}
}

.form-block__input-textarea {
	width: 100%;
	min-height: 201px;
	padding: 13px 20px;
	box-sizing: border-box;
	@include style-font(18px, 30px, 400);
	color: $primary-color;
	border-radius: 5px;
	border: 2px solid $gray-color;
	outline: none;
	resize: none;

	&:hover {
		border: 2px solid $primary-color;
	}

	&:focus {
		border: 2px solid $additional-color;
	}

	@media ($tablet-widths) {
		min-height: 195px;
		margin-bottom: 0px;
		padding: 14px 17px;
	}

	@media ($desktop-widths) {
		min-height: 128px;
	}
}

::-webkit-input-placeholder { /* Safari и Chrome */
	color: $primary-color;
	opacity: 1;
}

&::-moz-placeholder {  /* Firefox 19+ */
	color: $primary-color;
	opacity: 1;
}

&:-moz-placeholder { /* Firefox 18- */
	color: $primary-color;
	opacity: 1;
}

&:-ms-input-placeholder {
	color: $primary-color;
	opacity: 1;
}
