.download-app {
	padding-top: 28px;
	background: #1d2631;
	text-align: center;

	&__headline {
		display: none;
	}

	@media ($tablet-widths) {
		margin-top: -372px;
		margin-right: auto;
		padding-top: 0;
		background: transparent;
		z-index: 60;
	}
}


.download-app__headline {
	display: none;
	@include style-font(40px, 1.4, lighter, "OpenSansLight");
	text-align: center;
	color: $primary-bg;

	@media ($tablet-widths) {
		display: block;
	}
}


.spec {
	padding: 32px 0;

	@media ($tablet-widths) {
		width: 300px;
	}
}

.spec__link {
	margin: auto 18px;
}

.spec__text {
	margin-top: 24px;
	@include style-font(14px, 24px, lighter, "OpenSansLight");
	color: $primary-bg;
}
