.download-app {
	position: relative;
	padding-top: 28px;
	background: #1d2631;
	text-align: center;
	z-index: 20;

	@media ($tablet-widths) {
		position: relative;
		display: flex;
		min-height: 500px;
		padding: 90px 0px 28px;
		background: transparent;
		z-index: 20;
	}

	@media ($desktop-widths) {
		padding: 106px 0px 122px;
	}
}

.download-app__wrapper {
	@media ($tablet-widths) {
		flex-basis: 48.388%;
		max-width: 48.388%;
	}

	@media ($desktop-widths) {
		flex-basis: 32%;
		max-width: 32%;
	}
}

.download-app__headline {
	display: none;

	@media ($tablet-widths) {
		display: block;
		max-width: 245px;
		margin: 0px auto 29px;
		@include style-font(40px, 49px, 300);
		color: $primary-bg;
	}

	@media ($desktop-widths) {
		margin: 0px auto 54px;
		@include style-font(50px, 1.2, 300);
	}
}


.spec {

}

.spec__link {
	margin: auto 18px;
}

.spec__text {
	padding-top: 13px;
	@include style-font(14px, 24px, 300);
	color: $primary-bg;

	@media ($tablet-widths) {
		padding-top: 37px;
		font-size: 18px;
	}

	@media ($desktop-widths) {
		padding-top: 55px;
	}
}
