.logo {
	width: 75px;
	height: 23px;
	overflow: hidden;

	&--footer {
		width: 147px;
		height: 40px;
		margin: 0 auto;

		@media ($tablet-widths) {
			margin: 0;
		}
	}

	@media ($tablet-widths) {
		width: 147px;
		height: 40px;
	}
}

.logo-image {
	display: block;
	width: 100%;
	height: 100%;
}

.logo-text,
.logo-glasses,
.logo-glasses-desktop {
	display: none;
	fill: $primary-bg;
}

.logo-star,
.logo-star-pink {
	display: none;
	fill: $additional-color;
}

.logo:hover .logo-text,
.logo:hover .logo-glasses,
.logo:hover .logo-glasses-desktop {
	fill: $additional-color;
}

.logo:hover .logo-star,
.logo:hover .logo-star-pink {
	fill: $primary-bg;
}

.logo:active .logo-text,
.logo:active .logo-star,
.logo:active .logo-star-pink,
.logo:active .logo-glasses,
.logo:active .logo-glasses-desktop {
	fill: $primary-bg;
	opacity: 0.7;
}

@media (max-width: 659px) {
	.logo-text {
		display: block;
		transform: translate(-72px,-17px);
	}
}

@media only screen
and (min-width: 660px)
and (max-width: 959px) {
	.logo-text,
	.logo-glasses {
		display: block;
	}
}

@media (min-width: 960px) {
	.logo-text,
	.logo-star,
	.logo-star-pink,
	.logo-glasses-desktop {
		display: block;
	}
}

.logo--footer .logo-text,
.logo--footer .logo-glasses {
	display: block;
	transform: none;

	@media ($tablet-widths) {
		margin: 0;
		align-self: stretch;
	}
}

.logo--footer .logo-text,
.logo--footer .logo-star {
	fill: $primary-color;
}

.logo--footer .logo-star-pink,
.logo--footer .logo-glasses,
.logo--footer .logo-glasses-desktop {
	fill: $additional-color;
}

.logo--footer:hover .logo-star,
.logo--footer:hover .logo-star-pink {
	fill: $primary-color;
}

.logo--footer:active .logo-text,
.logo--footer:active .logo-star {
	fill: $primary-color;
	opacity: 0.7;
}

.logo--footer:active .logo-star-pink,
.logo--footer:active .logo-glasses,
.logo--footer:active .logo-glasses-desktop {
	fill: $additional-color;
	opacity: 0.7;
}
