.logo {
	width: 150px;
}

.logo__text {
	padding: 18px 20px 18px;
	@include style-font(30px, 26px, normal, "OpenSans");
	color: $primary-bg;

	@media ($tablet-widths) {
		display: none;
	}
}

.logo--footer {
	margin: 0 auto;
	padding: 0px;
	color: $primary-color;
	background: $primary-bg;
	text-align: center;
	border-bottom: none;

	@media ($tablet-widths) {
		margin: 0;
	}
}

