.main-header {
	background: $primary-color url(../img/bg-back-mobile@1x.jpg) no-repeat center bottom;
	background-size: 171%;
	background-position-y: 0px;

	@media (max-width: 699px) and (min-resolution: 144dpi),
	(max-width: 699px) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-mobile@2x.jpg) no-repeat center bottom;
		background-size: 171%;
		background-position-y: 0px;
	}

	@media ($tablet-widths) {
		background: $primary-color url(../img/bg-back-tablet@1x.jpg) no-repeat center bottom ;
		background-size: 171%;
		background-position-y: 0px;
	}

	@media ($tablet-widths) and (min-resolution: 144dpi),
	($tablet-widths) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-tablet@2x.jpg) no-repeat center bottom ;
		background-size: 171%;
		background-position-y: 0px;
	}

	@media ($desktop-widths) {
		background: $primary-color url(../img/bg-back-desktop@1x.jpg) no-repeat center top;
		background-size: 213%;
	}

	@media ($desktop-widths) and (min-resolution: 144dpi),
	($desktop-widths) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-desktop@2x.jpg) no-repeat center top;
		background-size: 213%;
	}
}

.main-header--index {
	overflow: hidden;
}

.main-header.main-header--index {
	background: $primary-color url(../img/bg-back-mobile@1x.jpg) no-repeat center top;
	background-size: 217%;
	background-position: top -6px center;

	@media (max-width: 699px) and (min-resolution: 144dpi),
	(max-width: 699px) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-mobile@2x.jpg) no-repeat center top;
		background-size: 217%;
		background-position: top -6px center;
	}

	@media ($tablet-widths) {
		background: $primary-color url(../img/bg-back-tablet@1x.jpg) no-repeat center top;
		background-size: cover;
	}

	@media ($tablet-widths) and (min-resolution: 144dpi),
	($tablet-widths) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-tablet@2x.jpg) no-repeat center top;
		background-size: cover;
	}

	@media ($desktop-widths) {
		background: $primary-color url(../img/bg-back-desktop@1x.jpg) no-repeat center top;
		background-size: cover;
	}

	@media ($desktop-widths) and (min-resolution: 144dpi),
	($desktop-widths) and (min-resolution: 1.5dppx) {
		background: $primary-color url(../img/bg-back-desktop@2x.jpg) no-repeat center top;
		background-size: cover;
	}

	&::after {
		@media ($tablet-widths) {
			@include position-container(auto, 0, 0, 0);
			width: 620px;
			height: 545px;
			z-index: 10;
			background: url(../img/iphone-hand-tablet@2x.png) no-repeat center bottom;
			background-size: 620px auto;
		}

		@media ($tablet-widths) and (min-resolution: 144dpi),
		($tablet-widths) and (min-resolution: 1.5dppx) {
			background: url(../img/iphone-hand-tablet@2x.png) no-repeat center bottom;
			background-size: 620px auto;
		}

		@media ($desktop-widths) {
			@include position-container(auto, 0, 0, 0);
			width: 940px;
			height: 645px;
			background: url(../img/iphone-hand-desktop@1x.png) no-repeat bottom center;
			background-size: 940px auto;
		}

		@media ($desktop-widths) and (min-resolution: 144dpi),
		($desktop-widths) and (min-resolution: 1.5dppx) {
			background: url(../img/iphone-hand-desktop@2x.png) no-repeat bottom center;
			background-size: 940px auto;
		}
	}
}
/**фон при клике*/
.main-header--opened,
.main-header--nojs {
	background-size: 218%;
	background-position: bottom -220px center;

	@media (max-width: 699px) and (min-resolution: 144dpi),
	(max-width: 699px) and (min-resolution: 1.5dppx) {
		background-size: 218%;
		background-position: bottom -220px center;
	}

	@media ($tablet-widths) {
		background-size: 171%;
		background-position: bottom -290px center;
	}

	@media ($tablet-widths) and (min-resolution: 144dpi),
	($tablet-widths) and (min-resolution: 1.5dppx) {
		background-size: 171%;
		background-position: bottom -290px center;
	}
}

.main-header--index.main-header--opened,
.main-header--index.main-header--nojs {
	background-size: 217%;
	background-position: bottom 277px center;

	@media (max-width: 699px) and (min-resolution: 144dpi),
	(max-width: 699px) and (min-resolution: 1.5dppx) {
		background-size: 217%;
		background-position: bottom 277px center;
	}

	@media ($tablet-widths) {
		background-size: 171%;
		background-position: bottom 10px center;
	}

	@media ($tablet-widths) and (min-resolution: 144dpi),
	($tablet-widths) and (min-resolution: 1.5dppx) {
		background-size: 171%;
		background-position: bottom 10px center;
	}
}

/**/////фон при клике*/

.main-header__wrapper {
	@media ($desktop-widths) {
		background: rgba(0, 0, 0, 0.3);
	}
}

.main-header--index .main-header__wrapper {
	position: relative;
	padding-bottom: 395px;

	&::after {
		@include position-container(auto, 0, 0, 0);
		width: 258px;
		height: 286px;
		z-index: 10;
		background: url(../img/iphone-hand-mobile@1x.png) no-repeat top center;
		background-size: cover;
		transform: translate(-12%);

		@media (max-width: 699px) and (min-resolution: 144dpi),
		(max-width: 699px) and (min-resolution: 1.5dppx) {
			background: url(../img/iphone-hand-mobile@2x.png) no-repeat top center;
			background-size: cover;
		}

		@media ($tablet-widths) {
			display: none;
		}
	}

	@media ($tablet-widths) {
		padding-bottom: 0;
	}
}

.main-header__inner {
	background: rgba(0, 0, 0, 0.5);

	@media ($desktop-widths) {
		display: flex;
		width: 100%;
		max-width: 940px;
		margin: 0 auto;
		padding-right: 10px;
		padding-left: 10px;
		flex-direction: row;
		justify-content: space-between;
		background: transparent;
	}
}

.main-header__inner--nojs,
.main-header__inner--opened {
	background: $primary-color;

	@media ($desktop-widths) {
		background: transparent;
	}
}

.main-header__top {
	display: flex;
	max-width: 940px;
	margin: 0 auto;
	padding: 22px 20px 21px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	@media ($tablet-widths) {
		margin: 0 auto;
		padding: 36px 20px 42px;
	}

	@media ($desktop-widths) {
		margin: 0;
		padding: 18px 0px 34px;
	}
}

.main-header__inner--nojs .main-header__top,
.main-header__inner--opened .main-header__top{
	padding: 22px 20px 24px;
	border-bottom: 1px solid black;

	@media ($tablet-widths){
		padding: 36px 20px 41px;
	}

	@media ($desktop-widths) {
		margin: 0;
		padding: 18px 0px 34px;
	}
}
