.main-header {
	position: relative;
	background: url(../img/bg-back-mobile@1x.jpg) no-repeat center bottom;
	background-size: cover;
	background-position-y: 252px;
}

.main-header--index {
	position: relative;
	min-height: 720px;
	background: url(../img/bg-back-mobile@1x.jpg) no-repeat bottom center;
	background-size: cover;
	&::after {
		@include position-container(auto, 0, 0, 0);
		width: 258px;
		height: 286px;
		background: url(../img/iphone-hand-mobile@1x.png) no-repeat top center;
		z-index: 10;
	}
}

.intro__headline {
	min-height: 171px;
	padding-top: 36px;
	text-align: center;
	color: $primary-bg;
	@include style-font(24px, 1.4, lighter);
}

.main-header__nav {
	position: relative;
}

.navbar-toggle {
	position: relative;
	display: block;
	width: 50px;
	height: 4px;
	float: right;
	margin-top: 17px;
	margin-right: 15px;
	background: $primary-bg;
	border: none;
	outline: none;
	&::before {
		@include position-container(auto, -10px, 0, auto);
		width: 50px;
		height: 4px;
		background: $primary-bg;
		z-index: 20;
	}
	&::after {
		@include position-container(auto, -20px, 0, auto);
		width: 50px;
		height: 4px;
		background: $primary-bg;
		z-index: 20;
	}

}

.menu {
	background: $primary-color;
}

.menu__link {
	&:hover {
		background: lighten($primary-color, 10%);
	}
	&:active {
		background: darken($primary-color, 50%);
	}
	&--active {
		/*что то написать */
	}
}

.menu__link a {
	@include a-link;
	@include style-font(18px, 32px, bold);
	padding: 18px 0;
	text-align: center;
	color: $primary-bg;
	border-top: solid 1px #485461;
	border-bottom: solid 1px #000101;
}
