.main-footer {
	@media ($desktop-widths) {
		padding-top: 66px;
	}
}

.communication {
	padding-top: 40px;
	text-align: center;

	@media ($tablet-widths) {
		padding-top: 49px;
	}

	@media ($desktop-widths) {
		padding-top: 0px;
	}
}

.communication__headline {
	padding: 0px 0px 32px;
	@include style-font(24px, 1.3, 300);
	color: $primary-color;

	@media ($tablet-widths) {
		padding: 0px 23px 43px;
		@include style-font(40px, 47px, 300);
	}

	@media ($desktop-widths) {
		padding: 0px 108px 54px;
		@include style-font(50px, 1.2, 300);
	}
}

.communication-items {
	@media ($tablet-widths) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.communication-item {
	margin-bottom: 20px;

	@media ($tablet-widths)  {
		margin-bottom: 0px;
	}
}

.communication-item__title {
	color: $primary-color;
	@include style-font(18px, 1.4, 700);

	@media ($desktop-widths) {
		padding-bottom: 22px;
	}
}

.communication-item__methods {
	display: block;
	width: 226px;
	margin: auto;
	@include style-font(24px, 32px, 300);
	text-decoration: none;
	color: $additional-color;

	&--email {
		@media ($tablet-widths) {
			padding-bottom: 47px;
		}

		@media ($desktop-widths) {
			padding-bottom: 0px;
		}
	}

	&--email:hover {
		text-decoration: underline;
		color: $primary-color;
	}

	&--email:active {
		text-decoration: none;
		color: #bec2c7;
	}
}

.communication-items .communication-item:nth-child(2n) {
	@media ($desktop-widths) {
		order: 2;
	}
}

.map {
	position: relative;
	height: 219px;
	background: url(../img/bg-map-mobile@1x.png) no-repeat;
	background-size: cover;

	@media ($tablet-widths) {
		height: 401px;
	}

	@media ($desktop-widths) {
		height: 522px;
	}

	&::before {
		@include position-container(0, auto, 0, 0);
		width: 100%;
		height: 53px;
		background: transparent url(../img/bg-triangle-white-footer.svg) no-repeat top center;
		z-index: 20;
		background-size: cover;

		@media ($tablet-widths) {
			height: 95px;
		}

		@media ($desktop-widths) {
			height: 123px;
		}
	}
}

.main-footer-down {
	display: none;

	@media ($tablet-widths) {
		display: block;
	}
}

.main-footer-down__wrapper {
	display: flex;
	flex-direction: column;
	padding: 38px 0;

	@media ($tablet-widths) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.social {
	margin: 38px auto 28px;
	text-align: center;

	@media ($tablet-widths) {
		margin: 0;
	}
}

.footer-copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-copyright__title {
	@include style-font(14px, 18px, 400);
	color: $primary-color;
}

.footer-copyright__link {
	width: 50px;
	height: 50px;
	background: url("../img/htmlacademy.svg") no-repeat center;
}
