.main-header {
	position: relative;
	min-height: 804px;
	background: url(../img/bg-back-mobile@1x.jpg) no-repeat bottom center;

	&--index::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 258px;
		height: 286px;
		background: url(../img/iphone-hand-mobile@1x.png) no-repeat top center;
		z-index: 10;
	}
}

.main-header__nav {
	position: relative;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 12px;
	margin-right: 15px;
	background: transparent;
	border: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.navbar-toggle .navbar-toggle__icon-bar+.navbar-toggle__icon-bar {
	margin-top: 4px;
}

.navbar-toggle .navbar-toggle__icon-bar {
	background: $primary-bg;
}
.navbar-toggle .navbar-toggle__icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
