.communication {
	padding-top: 10px;
	text-align: center;
}

.communication__headline {
	padding: 20px 0px;
	@include style-font(24px, 1.4, lighter, "OpenSansLight");
	color: $primary-color;

	@media ($tablet-widths) {
		padding: 40px 23px;
		@include style-font(40px, 1.1, lighter, "OpenSansLight");
	}

	@media ($desktop-widths) {
		padding: 40px 108px;
		@include style-font(50px, 1.1, lighter, "OpenSansLight");
	}
}

.communication-items {
	@media ($tablet-widths) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.communication-item__title {
	color: $primary-color;
	@include style-font(18px, 1.4, bold, "OpenSansBold");
}

.communication-item__methods {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
	@include style-font(24px, 1.4, lighter, "OpenSansLight");
	color: #d22856;
}

.communication-items .communication-item:nth-child(2n) {
	@media ($desktop-widths) {
		order: 2;
	}
}

.main-footer-down {
	display: none;

	@media ($tablet-widths) {
		display: block;
	}
}

.main-footer-down__wrapper {
	display: flex;
	flex-direction: column;

	@media ($tablet-widths) {
		display: flex;
		margin: 40px auto;
		flex-direction: row;
		justify-content: space-around;
	}
}

.social {
	margin: 40px auto;
	text-align: center;

	@media ($tablet-widths) {
		margin: 0;
	}
}

.footer-copyright {
	display: flex;
	padding-top: 10px;
	justify-content: center;
	align-items: center;

	@media ($tablet-widths) {
		padding-top: 0px;
	}
}

.footer-copyright__title {
	margin-right: 10px;
	@include style-font(14px, 18px, normal, "OpenSans");
	color: $primary-color;
}

.footer-copyright__link {
	width: 50px;
	height: 50px;
	background: url("../img/htmlacademy.svg") no-repeat center;
}
