.offer {
	padding-top: 41px;
	text-align: center;

	@media ($tablet-widths) {
		padding-top: 45px;
	}

	@media ($desktop-widths) {
		padding-top: 67px;
	}
}

.offer-header {
	@media ($desktop-widths) {
		margin-bottom: 76px;
	}
}

.offer-header__slogan {
	margin-bottom: 26px;
	@include style-font(22px, 1.4, 300);
	color: $primary-color;

	@media ($tablet-widths) {
		margin-bottom: 0;
		@include style-font(40px, 50px, 300);

		&:nth-of-type(2) {
			width: 351px;
			margin: 0 auto 30px;

			@media ($desktop-widths) {
				width: 720px;
			}
		}
	}

	@media ($desktop-widths) {
		@include style-font(50px, 1.2, 300);
	}

}

.offer-items {
	position: relative;
	background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat top center;
	background-size: 100% auto;
	z-index: 20;
}

.offer-items__wrappers {
	position: relative;
	padding-top: 89px;

	@media ($tablet-widths) {
		padding: 89px 0 9px;
	}

	@media ($desktop-widths) {
		position: static;
		display: flex;
		padding: 0;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
}

.offer-item {
	position: relative;
	padding-bottom: 31px;

	&:nth-child(3) {
		padding-bottom: 319px;

		@media ($tablet-widths) {
			padding-bottom: 34px;
		}

		@media ($desktop-widths) {
			padding-top: 335px 0 0;
		}

	}

	@media ($tablet-widths) {
		position: static;
		width: 308px;
		margin-left: auto;
		padding-bottom: 34px;
		text-align: left;
	}

	@media ($desktop-widths) {
		padding: 335px 0 0;
		position: relative;
		margin-left: 0;
		text-align: center;
	}


	&::before {
		@media ($desktop-widths) {
			width: 294px;
			height: 17px;
			@include position-container(293px, auto, 50%, auto);
			background-size: 294px auto;
			transform: translateX(-50%);
			background: url(../img/shadow-offer-item.png) no-repeat top center;
			z-index: 10;
		}
	}

	&::after {
		@include position-container(auto, 0, 0, 0);
		width: 157px;
		height: 278px;
		background: url(../img/iphone-screen-mobile@1x.png) no-repeat top center;
		z-index: 10;
		background-size: 157px auto;

		@media ($tablet-widths) {
			@include position-container(auto, 0, 0, auto);
			width: 267px;
			height: 481px;
			background-size: 267px auto;
		}
		@media ($desktop-widths) {
			width: 186px;
			height: 300px;
			@include position-container(0, auto, 50%, auto);
			background-size: 186px auto;
			transform: translateX(-50%);
		}
	}
}

.offer-item:nth-child(1)::after {
	content: none;

	@media ($desktop-widths) {
		content: "";
		background: url(../img/iphone-screen-mobile@1x.png) no-repeat top center;
		background-size: 186px auto;
	}
}

.offer-item:nth-child(2)::after {
	content: none;

	@media ($desktop-widths) {
		content: "";
		background: url(../img/iphone-screen-mobile@1x.png) no-repeat top center;
		background-size: 186px auto;
	}
}

.offer-item__headline {
	margin-bottom: 11px;
	@include style-font(18px, 24px, 700);

	@media ($tablet-widths) {
		margin-bottom: 12px;
	}

	@media ($desktop-widths) {
		max-width: 223px;
		margin: 23px auto;
		@include style-font(30px, 30px, 700);
	}
}

.offer-item__description {
	@include style-font(14px, 24px, 400);

	@media ($desktop-widths) {
		padding: 0 34px;
		@include style-font(18px, 30px, 400);
	}
}


.offer-footer {
	display: none;

	text-align: left;
	background: $primary-bg;

	@media ($tablet-widths) {
		display: block;
		padding: 97px 0 42px;
	}

	@media ($desktop-widths) {
		padding: 127px 0 113px;
		background: #f2f2f2;
	}

	&__item {
		width: 308px;
		margin-left: auto;
		text-align: left;

		@media ($desktop-widths) {
			width: 572px;
		}
	}

	&__headline {
		padding-right: 135px;
		@include style-font(30px, 36px, 700);
		color: #000;

		@media ($desktop-widths) {
			line-height: 30px;
		}
	}

	&__text {
		padding: 23px 51px 31px 0px;
		@include style-font(14px, 24px, 400);
		color: $primary-color;

		@media ($tablet-widths) {
			padding: 10px 0px;
		}

		@media ($desktop-widths) {
			padding: 23px 51px 31px 0px;
			@include style-font(18px, 30px, 400);
		}
	}

	&__link {
		display: block;
		@include style-font(14px, 24px, 400);
		color: $additional-color;

		@media ($desktop-widths) {
			@include style-font(18px, 30px, 400);
		}
	}

	&__wrapper {
		position: relative;
	}

	&__wrapper::after {

		@media ($tablet-widths) {
			@include position-container(0, auto, 0, auto);
			content: "24";
			width: 174px;
			height: 174px;
			@include style-font(96px, 174px, 700);
			text-transform: uppercase;
			text-align: center;
			color: $additional-color;
			border: 15px solid $additional-color;
			border-radius: 50%;
			transform: translate(9%,8%);
			z-index: 10;
		}

		@media ($desktop-widths) {
			@include position-container(0, 0, 0, auto);
			content: "24";
			width: 220px;
			height: 220px;
			@include style-font(96px, 220px, 700);
			border: 16px solid $additional-color;
			transform: translate(9%, 0%);
		}
	}
}
