.photo {
	position: relative;
	margin: 0 auto 20px;
	background: $primary-bg;

	@media ($desktop-widths) {
		margin: 0 auto;
	}

	&--day {
		max-width: 1199px;

		&::after {
			@include position-container(0, auto, auto, 6.25%);
			content: "Панорама дня";
			width: 140px;
			height: 36px;
			@include style-font(12px, 36px, 700);
			text-align: center;
			text-transform: uppercase;
			background: $additional-color;
			color: $primary-bg;

			@media ($tablet-widths) {
				@include position-container(57px, auto, auto, 5.85%);
				content: "Панорама дня";
			}

			@media ($desktop-widths) {
				@include position-container(54px, auto, auto, 10.75%);
				content: "Панорама дня";
			}
		}
	}
}

.photo--day .photo-item__text {
	@media ($tablet-widths) {
		min-height: 70px;
	}

	@media ($desktop-widths) {
		min-height: 0px;
		margin-bottom: 0px;
	}
}

.photo--day .photo-item {
	width: 100%;

	@media ($tablet-widths) {
		margin-bottom: 50px;
	}
}
