.price {
	padding: 100px 0;
	text-align: center;
	background: #f2f2f2;

	@media ($tablet-widths) {
		padding: 100px 40px;
	}

	@media ($desktop-widths) {
		padding: 100px 130px;
	}
}

.price__wrapper {
	width: 100%;
	overflow: hidden;
}

.price-table {
	width: calc(300% - 94px);
	border-collapse: collapse;
	box-sizing: border-box;
	background: $primary-bg;
	transition: all 0.5s;

	@media ($tablet-widths) {
		width: 100%;
	}
}

th.price-table__cell:first-child {


	@media ($tablet-widths) {
		opacity: 0;
	}
}

th.price-table__cell {
	position: relative;
	background: $primary-color;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
}

td.price-table__cell {
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
}

.price-table__cell {
	padding: 10px 0;
	&--hit::before {
		@include position-container(0, auto, 0, auto);
		width: 74px;
		height: 73px;
		background: url("../img/bg-hit-tablet.svg") no-repeat top center;
		z-index: 10;
	}
}

.price input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.price__controls {
	@include position-container(auto, 0, 0, 0);
	width: 120px;
	height: 20px;
	padding-bottom: 39px;
	z-index: 10;

	@media ($tablet-widths) {
		display: none;
	}
}

.price__controls label {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 8px;
	vertical-align: top;
	background: #bec2c7;
	border: solid 3px #f2f2f2;
	border-radius: 50%;
	cursor: pointer;
}

#btn-price-1:checked~.price__controls label[for="btn-price-1"],
#btn-price-2:checked~.price__controls label[for="btn-price-2"],
#btn-price-3:checked~.price__controls label[for="btn-price-3"] {
	background: $primary-bg;
	border: solid 3px $primary-color;
}

#btn-price-1:checked ~ .price__wrapper .price-table {
	transform: translateX(24px);

	@media ($tablet-widths) {
		transform: none;
	}
}

#btn-price-2:checked ~ .price__wrapper .price-table {
	transform: translateX(calc(-33.333333% + 24px));

	@media ($tablet-widths) {
		transform: none;
	}
}

#btn-price-3:checked ~ .price__wrapper .price-table {
	transform: translateX(calc(-66.666666% + 24px));

	@media ($tablet-widths) {
		transform: none;
	}
}

.price-table__cell-title {
	margin: 10px auto;
	@include style-font(18px, 30px, bold, "OpenSansBold");
	color: $primary-bg;
}

.price-table__cell-cost {
	@include style-font(24px, 30px, lighter, "OpenLight");
	text-align: center;
	color: #f1f2f3;
}

.price-table__cell-headline {
	position: relative;
	padding-left: 22px;
	text-align: left;
	@include style-font(14px, 30px, normal, "OpenSans");
	color: $primary-color;

	@media ($tablet-widths) {
		font-size: 0px;
	}

	&::before,
	&::after {
		@include position-container(0, 0, auto, 19px);
		width: 27px;
		height: 3px;
		background-color: #f25b26;
		transform: rotate(45deg);

		@media ($tablet-widths) {
			@include position-container(0, 0, 0, 0);
		}
	}

	&::after {
		transform: rotate(-45deg);
	}

	&--on::before {
		width: 13px;
		height: 22px;
		right: 25px;
		background-color: rgba(255, 255, 255, 0);
		border-right: 4px solid #3dc644;
		border-bottom: 4px solid #3dc644;
		@media ($tablet-widths) {
			@include position-container(0, 0, 0, 0);
		}
	}

	&--on:after {
		display: none;
	}
}

td.price-table__cell:first-child .price-table__cell-headline {
	&::after,
	&::before {
		content: none;
	}

	@media ($tablet-widths) {
		display: block;
		padding-left: 15px;
		font-size: 14px;
	}

	@media ($desktop-widths) {
		padding-left: 24px;
		font-size: 18px;
	}
}

tr .price-table__cell:first-child {
	display: none;

	@media ($tablet-widths) {
		display: block;
	}
}
