.slider {
	background: $primary-bg;
}

.slider .container {
	@media ($desktop-widths) {
		position: relative;
	}
}

.slider input[type="radio"] {
	position: absolute;
	bottom: 0;
	opacity: 0;
}

.slider__controls {
	@include position-container(auto, -1px, 0, 0);
	width: 120px;
	height: 20px;
	text-align: center;
	z-index: 60;

	@media ($tablet-widths) {
		bottom: -8px;
	}

	@media ($desktop-widths) {
		display: none;
	}
}

.slider__controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 6px;
	vertical-align: top;
	background: #bec2c7;
	border: solid 3px $primary-bg;
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		background: #7e868f;
	}

	&:active {
		background: #e9ebec;
	}
}

.arrow-left,
.arrow-right {
	display: none;
}

@media (min-width: 960px) {
	.arrow-left,
	.arrow-right {
		position: absolute;
		display: block;
		margin-top: 10px;
		width: 28px;
		height: 42px;
		top: 50%;
		background: 0 0;
		z-index: 10;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.arrow-left {
		left: 10px;
	}
	.arrow-right {
		right: 10px;
	}

	.arrow-left::before,
	.arrow-right::before {
		content: "";
		position: absolute;
		top: 5px;
		width: 28px;
		height: 28px;
		border-top: 3px solid $primary-color;
		border-right: 3px solid $primary-color;
		transform: rotate(45deg);
		opacity: 0.3;
	}

	.arrow-left:before {
		left: 5px;
		transform: rotate(-135deg);
	}
	.arrow-right:before {
		right: 5px;
	}

	.arrow-left:hover::before,
	.arrow-right:hover::before {
		opacity: 0.6;
	}

	.arrow-left:active:before,
	.arrow-right:active:before {
		opacity: 0.1;
	}
}

.slider__wrappper {
	padding-top: 31px;
	padding-bottom: 52px;
	text-align: center;

	@media ($tablet-widths) {
		padding-top: 82px;
		padding-bottom: 47px;
	}

	@media ($desktop-widths) {
		padding-top: 186px;
		padding-bottom: 35px;
	}
}

#btn-1:checked~.slider__controls label[for="btn-1"],
#btn-2:checked~.slider__controls label[for="btn-2"],
#btn-3:checked~.slider__controls label[for="btn-3"] {
	background: $primary-bg;
	border: solid 3px $primary-color;
}
