.slider {
	position: relative;
	padding-top: 32px;
	background: $primary-bg;

	@media ($tablet-widths) {
		padding-top: 82px;
	}

	@media ($desktop-widths) {
		padding-top: 186px;
	}
}

.slider input[type="radio"] {
	position: absolute;
	bottom: 0;
	opacity: 0;
}

.slider__controls {
	@include position-container(auto, 0, 0, 0);
	width: 120px;
	height: 20px;
	text-align: center;
	z-index: 60;

	@media ($desktop-widths) {
		display: none;
	}
}

.slider__controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 8px;
	vertical-align: top;
	background: #bec2c7;
	border: solid 3px $primary-bg;
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		background: #7e868f;
	}

	&:active {
		background: #e9ebec;
	}
}

@media (min-width: 1200px) {
	.slider .arrow-left::before,
	.slider .arrow-left::after,
	.slider .arrow-right::before,
	.slider .arrow-right::after {
		content: "";
		position: absolute;
		z-index: 20;
		left: 127px;
		top: 223px;
		transform: rotate(-45deg);
		display: block;
		width: 28px;
		height: 4px;
		background: #bec2c7;
		cursor: pointer;
	}

	.slider .arrow-left::after {
		top: 240px;
		transform: rotate(45deg);
	}

	.slider .arrow-right::before {
		left: auto;
		right: 127px;
		transform: rotate(45deg);
	}

	.slider .arrow-right::after {
		left: auto;
		right: 127px;
		top: 240px;
		transform: rotate(-45deg);
	}

	.slider .arrow-left:hover::before,
	.slider .arrow-left:hover::after,
	.slider .arrow-right:hover::before,
	.slider .arrow-right:hover::after {
		background: #7e868f;
	}

	.slider .arrow-left:active::before,
	.slider .arrow-left:active::after,
	.slider .arrow-right:active::before,
	.slider .arrow-right:active::after {
		opacity: 0.7;
	}
}

.slide {
	display: none;
}

.slider__wrappper {
	padding-bottom: 52px;
	text-align: center;

	@media ($tablet-widths) {
		padding-bottom: 55px;
	}

	@media ($desktop-widths) {
		padding-bottom: 38px;
	}
}

#btn-1:checked~.slider__controls label[for="btn-1"],
#btn-2:checked~.slider__controls label[for="btn-2"],
#btn-3:checked~.slider__controls label[for="btn-3"] {
	background: $primary-bg;
	border: solid 3px $primary-color;
}

#btn-1:checked~.slider__wrappper .slide:nth-child(1),
#btn-2:checked~.slider__wrappper .slide:nth-child(2),
#btn-3:checked~.slider__wrappper .slide:nth-child(3) {
	display: block;

	@media ($tablet-widths) {
		display: flex;
		flex-direction: column;
	}
}

.slide__title {
	margin: 10px auto 14px;
	@include style-font(18px, 30px, 700);
	color: #000;

	@media ($tablet-widths) {
		margin: 10px auto 1px;
		order: 2;
		font-size: 20px;
	}

	@media ($desktop-widths) {
		@include style-font(24px, 30px, 700);

		&::before {
			@include position-container(0, auto, 0, 0);
			content: "“";
			@include style-font(182px, 63px, bold);
			font-family: "Georgia", sans-serif;
			color: #efefef;
			z-index: 20;
			transform: translate(0%, 180%);
		}
	}
}

.slide__text {
	@include style-font(14px, 30px, 400);
	color: $primary-color;

	@media ($tablet-widths) {
		margin-bottom: 25px;
		order: 1;
		font-size: 18px;
	}

	@media ($desktop-widths) {
		padding: 0 75px;
	}
}

.slide__sub-text {
	display: none;


	@media ($tablet-widths) {
		display: block;
		@include style-font(14px, 30px, 400);
		color: $primary-color;
		order: 3;
	}

	@media ($desktop-widths) {
		@include style-font(18px, 30px, 400);
	}
}
