
.social-like {
	display: flex;
	padding-top: 11px;
	justify-content: flex-end;
	align-items: center;
	background: #f2f2f2;
	flex-direction: row-reverse;

	@media ($tablet-widths) {
		margin-top: auto;
		flex-direction: row;
		justify-content: space-between;
	}

	&--day {
		@media ($tablet-widths) {
			@include position-container(13px, auto, auto, 23px);
			width: 135px;
			justify-content: space-around;
			background: transparent;
		}
	}
}

.social-like__block {
	margin-left: 20px;

	@media ($tablet-widths) {
		margin-left: 0px;
	}
}

.social-like__icon {
	display: inline-block;
	width: 13px;
	height: 12px;
	vertical-align: middle;
	background: url("../img/icon-heart.svg") no-repeat center;
	cursor: pointer;

	@media ($tablet-widths) {
		padding: 0 5px;
	}
}

.social-like__link {
	display: inline-block;
	vertical-align: middle;
	@include style-font(12px, 24px, 400);
	color: $additional-color;
	text-transform: uppercase;
	cursor: pointer;
}

.social-like__count {
	display: inline-block;
	padding-left: 4px;
	vertical-align: middle;
	@include style-font(12px, 24px, 400);
	color: $additional-color;
	cursor: pointer;
}
