.upload-block {
	text-align: center;
	background: #f2f2f2;

	@media ($tablet-widths) {
		background: #f2f2f2;
	}

	@media ($desktop-widths) {
		background: $primary-bg;
	}
}


.upload-block .container {
	width: auto;
	padding: 0;
}

.upload-block .container {
	@media ($tablet-widths) {
		width: 620px;
	}

	@media ($desktop-widths) {
		width: 940px;
	}
}

.form-upload {
	@media ($tablet-widths) {
		display: flex;
		justify-content: space-between;
		background: #f2f2f2;
	}

	@media ($desktop-widths) {
		padding: 0px 60px 0 80px;
	}
}

.form-upload__left-block {
	padding: 20px 0px 42px;

	@media ($tablet-widths) {
		width: 300px;
		padding: 57px 0px 53px;
	}

	@media ($desktop-widths){
		padding: 58px 0 55px;
	}
}
/*
.form-upload__image {
	@media ($tablet-widths) {
		width: 100%;
	}
}
*/
.form-upload__right-block {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media ($tablet-widths) {
		width: 275px;
	}

	@media ($desktop-widths) {
		width: 410px;
		padding: 35px 0 57px;
		justify-content: space-between;
	}
}

.form-upload__inner {
	border-bottom: 1px solid #dddfe0;

	@media ($tablet-widths) {
		border-bottom: none;
	}
}

.form-upload__options-wrapper {
	position: relative;
	display: flex;
	width: 240px;
	margin: 0 auto;
	padding-bottom: 71px;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

	@media ($tablet-widths) {
		width: 100%;
		padding-bottom: 0;
		justify-content: space-between;
		border-bottom: none;
	}
}

.form-upload-option {
	display: flex;

	@media ($tablet-widths) {
		width: 275px;
		padding: 20px 0 19px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #dddfe0;
	}

	@media ($desktop-widths) {
		width: 410px;
		padding: 20px 0 5px;
	}
}

.svg-icon {
	cursor: pointer;
	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 1;
		fill: $additional-color;
	}
}
/*
.svg-icon .form-upload-option__brightness,
.svg-icon .form-upload-option__contrast,
.svg-icon .form-upload-option__cut {
	cursor: pointer;
	opacity: 0.3;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 1;
		fill: $additional-color;
	}
}
*/
.svg-icon--active {
	opacity: 1;
	fill: $additional-color;
}

.range-controls {
	position: relative;
	display: none;

	@media ($tablet-widths) {
		display: block;
	}

	@media ($desktop-widths) {
		display: block;
		margin-right: 30px;
	}
}

.range-controls--active {
	@include position-container(auto, 34px, 0, 0);
	content: none;
	display: block;
	z-index: 50;

	@media ($tablet-widths) {
		position: relative;
		margin: 0;
		bottom: 0;
	}

	@media ($desktop-widths) {
		margin-right: 30px;
	}
}

.range-controls__bar {
	width: 240px;
	height: 2px;
	margin: 0 auto;
	background: $primary-color;

	@media ($tablet-widths) {
		display: block;
		width: 202px;
	}

	@media ($desktop-widths) {
		width: 288px;
	}
}

.range-controls__toggle {
	content: "";
	position: absolute;
	top: -6px;
	right: 35px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid $additional-color;
	background: #f2f2f2;
	z-index: 10;
	cursor: pointer;

	&:active {
		background: $additional-color;
	}
}

.form-upload__actions {
	width: 280px;
	margin: 0 auto;
	padding: 38px 0 31px;

	@media ($tablet-widths) {
		width: 260px;
		margin: 0px;
	}

	@media ($desktop-widths) {
		display: flex;
		width: 100%;
		padding: 0;
		padding-bottom: 0;
		justify-content: space-between;
	}
}
