.upload-block {
	text-align: center;
	background: #f2f2f2;

	@media ($tablet-widths) {
		background: #f2f2f2;
	}

	@media ($desktop-widths) {
		margin-bottom: 66px;
		background: $primary-bg;
	}
}


.upload-block .container {
	width: auto;
	padding: 0;
}

.upload-block .container {
	@media ($tablet-widths) {
		width: 620px;
		padding: 0 20px;
	}

	@media ($desktop-widths) {
		width: 940px;
		padding: 0 10px;
	}
}

.svg-icon {
	cursor: pointer;
	opacity: 0.3;
	width: 48px;
	height: 44px;

	&--last {
		height: 32px;
	}

	@media ($tablet-widths) {
		width: 28px;
		height: 22px;

		&--last {
			height: 16px;
		}
	}

	@media ($desktop-widths) {
		width: 48px;
		height: 44px;

		&--last {
			height: 32px;
		}
	}

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 1;
		fill: $additional-color;
	}
}

.svg-icon--active {
	opacity: 1;
	fill: $additional-color;
}
